SPU_Version/SmartLife-with-AliceAi-For-SPU (5).json
{
  "name": "SmartLife-with-AliceAi-For-SPU",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c8a2ef77-56d5-487c-8cdc-6f6eb144e465",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        224
      ],
      "id": "073f8982-2927-4434-a4b4-9a0086af1c8f",
      "name": "Webhook",
      "webhookId": "c8a2ef77-56d5-487c-8cdc-6f6eb144e465"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role:\nคุณคือ \"อลิซ\" (Alice) ผู้ช่วยส่วนตัวที่ฉลาดและสุภาพที่สุด หน้าที่ของคุณคือสรุปนัดหมายให้คุณ {{ $('Line Messaging1').item.json.profile.displayName }} โดยเน้นความกระชับแต่ \"ห้ามทิ้งรายละเอียดสำคัญ\"\n\nCurrent Date Context:\n- วันนี้คือ: {{ $now.setZone('Asia/Bangkok').toFormat('dd/MM/yyyy') }} (พ.ศ. 2569 / ค.ศ. 2026)\n- พรุ่งนี้คือ: {{ $now.setZone('Asia/Bangkok').plus({days: 1}).toFormat('dd/MM/yyyy') }} (พ.ศ. 2569 / ค.ศ. 2026)\n\nNaming Rules (การตั้งชื่อกิจกรรม):\n1. ให้ตัด \"คำกริยาสั่งการ\" ออกเสมอ: เช่น \"ไปเรียนที่\", \"มีนัดที่\", \"ช่วยเตือนว่า\", \"บันทึกว่า\", \"ต้องไป\"\n2. ให้ตัด \"คำบอกเวลา\" ออกเสมอ: เช่น \"ตอนบ่ายสาม\", \"สี่โมงเย็น\", \"ตอนเช้า\", \"วันนี้\", \"พรุ่งนี้\"\n3. \"ห้ามตัดรายละเอียดสถานที่\": เช่น เลขห้อง, ชื่อตึก, ชั้น หรือชื่อเฉพาะ (เช่น Aud 1, ชั้น 14) ต้องเก็บไว้ให้ครบ\n\nInstructions:\n- ตรวจสอบวันที่: หากผู้ใช้พูดว่า \"พรุ่งนี้\" ให้ใช้ {{ $now.setZone('Asia/Bangkok').plus({days: 1}).toFormat('dd/MM/yyyy') }} โดยใช้ปี 2569 เท่านั้น\n- ห้ามใช้ปี 2566/2023: หากในหัวคุณคิดถึงปีอื่น ให้เปลี่ยนเป็น 2569 ทันที\n- ใช้ข้อมูลสกัดเบื้องต้นเป็นแนวทาง: {{ JSON.stringify($json.extractedData) }}\n\nรูปแบบการตอบกลับ (Strict Format):\n📌 ชื่อกิจกรรม: [ชื่อที่สะอาดแต่รายละเอียดครบ]\n📅 วันที่: [วว/ดด/2569]\n⏰ เวลา: [HH:mm] หรือ [HH:mm-HH:mm]\n\nอลิซกำลังจดลงปฏิทินให้นะคะ\n\nStrict Rules:\n- ห้ามใส่คำอธิบายในวงเล็บ เช่น \"(ใช้ปี พ.ศ. ตามปัจจุบัน)\" ลงในคำตอบ\n- ห้ามใส่เครื่องหมายคำพูดครอบข้อความ\n- หากข้อมูลไม่ครบ ให้ถามสั้นๆ อย่างสุภาพ",
        "options": {
          "systemMessage": "",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        224
      ],
      "id": "ef69f04e-2683-4c6e-9504-0becc4c29d75",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        704,
        400
      ],
      "id": "930409d0-af50-4de6-b7bb-8c5a751ff872",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "j8bdEo4IiLwbC8TX",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "replyToken": "={{ $('Webhook').item.json.body.events[0].replyToken }}",
        "messages": {
          "values": [
            {
              "quoteToken": "={{ $('Webhook').item.json.body.events[0].message.quoteToken }}",
              "text": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        1584,
        224
      ],
      "id": "b4e7cf46-bee1-49f0-9e3b-b3bafa347563",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "MhyzfOgAkpg2P4dJ",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.events[0].source.userId }}",
        "contextWindowLength": 10000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        400
      ],
      "id": "b65e5984-d81a-4f92-bb25-13824bb579de",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getProfile",
        "userId": "={{ $json.body.events[0].source.userId }}"
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        208,
        224
      ],
      "id": "7e4a3809-43d2-42ec-bea1-0722514878de",
      "name": "Line Messaging1",
      "credentials": {
        "lineMessagingApi": {
          "id": "MhyzfOgAkpg2P4dJ",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Alice",
        "height": 592,
        "width": 1700,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "eed27eb5-8efc-4efe-ae07-e3c5ed583ac7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tphTRbiq4Q0uLdUYP5nEnI1998hSSZjvIQZLZlEJnpg",
          "mode": "list",
          "cachedResultName": "Alice_N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tphTRbiq4Q0uLdUYP5nEnI1998hSSZjvIQZLZlEJnpg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tphTRbiq4Q0uLdUYP5nEnI1998hSSZjvIQZLZlEJnpg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LINE User ID": "={{ $('Line Messaging1').item.json.profile.userId }}",
            "End Time": "={{ $('Scan Input').item.json.extractedData[\"เวลาสิ้นสุด\"] }}",
            "Start Time": "={{ $('Scan Input').item.json.extractedData[\"เวลาเริ่ม\"] }}",
            "Google Event ID": "={{ $json.id }}",
            "available": "={{ $json.reminders.useDefault }}",
            "Timestamp": "={{ $now }}",
            "Display Name": "={{ $('Line Messaging1').item.json.profile.displayName }}",
            "Event Summary": "={{ $('Scan Input').item.json.extractedData[\"ชื่อกิจกรรม\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINE User ID",
              "displayName": "LINE User ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Display Name",
              "displayName": "Display Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Event Summary",
              "displayName": "Event Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Time",
              "displayName": "Start Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End Time",
              "displayName": "End Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google Event ID",
              "displayName": "Google Event ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "available",
              "displayName": "available",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "htmlLink",
              "displayName": "htmlLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "iCalUID",
              "displayName": "iCalUID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "kind",
              "displayName": "kind",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reminders",
              "displayName": "reminders",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sequence",
              "displayName": "sequence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Readable date",
              "displayName": "Readable date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Readable time",
              "displayName": "Readable time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Day of week",
              "displayName": "Day of week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Year",
              "displayName": "Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Month",
              "displayName": "Month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Day of month",
              "displayName": "Day of month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hour",
              "displayName": "Hour",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Minute",
              "displayName": "Minute",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Second",
              "displayName": "Second",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        224
      ],
      "id": "5b64ad78-bd54-4ccb-9e2e-b7e29de779a1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DU0xFnGqgklZK40A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "worgurn.rue@spumail.net",
          "mode": "list",
          "cachedResultName": "worgurn.rue@spumail.net"
        },
        "start": "={{ $json.startISO }}",
        "end": "={{ $json.endISO }}",
        "additionalFields": {
          "summary": "={{ $json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1248,
        224
      ],
      "id": "e292c52f-6140-4d56-9f4a-ce7f64808049",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "iRunCLEgmsM0JZTP",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6ba60d9b-39bd-45d4-9f71-9c0c4ceb215a",
              "leftValue": "={{ $json.isHandled }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        224
      ],
      "id": "25cacfbd-fbb2-4201-91bd-67fe0e946ccb",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// 1. ดึงข้อมูลพื้นฐาน\nconst webhookData = $(\"Webhook\").first().json;\nconst profileData = $input.first().json;\nconst displayName = profileData.profile?.displayName || \"คุณ\";\nconst event = webhookData?.body?.events?.[0];\n\nconst messageType = event?.message?.type;\nconst text = event?.message?.text ? event.message.text.trim() : \"\";\n\nlet isHandled = false; \nlet replyMessage = \"\";\nlet extractedData = {\n    \"ชื่อกิจกรรม\": \"\",\n    \"วันที่\": \"\",\n    \"เวลาเริ่ม\": \"\",\n    \"เวลาสิ้นสุด\": \"\"\n};\n\n// --- Helper: แปลงคำเลขไทย/คำบอกเวลา เป็นตัวเลข ---\nfunction thaiNumToDigit(str) {\n    const map = { 'หนึ่ง':1, 'สอง':2, 'สาม':3, 'สี่':4, 'ห้า':5, 'หก':6, 'เจ็ด':7, 'แปด':8, 'เก้า':9, 'สิบ':10, 'เที่ยง':12 };\n    return map[str] || parseInt(str);\n}\n\nfunction parseTime(s) {\n    if (!s) return \"\";\n    s = s.trim();\n    let digitalMatch = s.match(/([0-9]{1,2})[:.]([0-9]{1,2})/);\n    if (digitalMatch) return `${digitalMatch[1].padStart(2, '0')}:${digitalMatch[2].padStart(2, '0')}`;\n\n    let hour = 0;\n    let minute = s.includes(\"ครึ่ง\") ? 30 : 0;\n    let numMatch = s.match(/(หนึ่ง|สอง|สาม|สี่|ห้า|หก|เจ็ด|แปด|เก้า|สิบ|[0-9]+)/);\n    let n = numMatch ? thaiNumToDigit(numMatch[0]) : null;\n\n    if (s.includes(\"เที่ยงคืน\")) hour = 0;\n    else if (s.includes(\"ทุ่ม\")) hour = (n || 1) + 18;\n    else if (s.includes(\"ตี\")) hour = n || 1;\n    else if (s.includes(\"บ่าย\")) {\n        hour = (n === 1 || n === null || s.includes(\"บ่ายโมง\")) ? 13 : n + 12;\n    } else if (s.includes(\"เย็น\") || s.includes(\"โมงเย็น\")) {\n        hour = (n <= 6) ? n + 12 : n;\n    } else if (s.includes(\"โมง\")) {\n        if (s.includes(\"เช้า\")) hour = (n === 6) ? 6 : (n || 0);\n        else if (n >= 1 && n <= 5) hour = n + 12; \n        else hour = n || 0;\n    } else if (n !== null) hour = n;\n\n    return `${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}`;\n}\n\nif (messageType !== \"text\") {\n    replyMessage = `อลิซยังอ่านไฟล์ไม่ได้ค่ะคุณ ${displayName} รบกวนพิมพ์ข้อความน้า 🌸`;\n    isHandled = true;\n} else {\n    // 1. ดักจับวันที่\n    const datePattern = /(วันนี้|พรุ่งนี้|มะรืน|[0-9]{1,2}[/-][0-9]{1,2})/i;\n    const hasDate = text.match(datePattern);\n\n    // 2. ปรับ Regex หน่วยเวลา (รองรับ ตี 5, 5 โมง, บ่าย 3)\n    const timeUnit = \"(?:เที่ยงคืน|เที่ยง|บ่าย[\\\\s\\\\S]{0,2}(?:หนึ่ง|สอง|สาม|สี่|ห้า|หก|[0-9])?|(?:หนึ่ง|สอง|สาม|สี่|ห้า|หก|เจ็ด|แปด|เก้า|สิบ|[0-9]{1,2})\\\\s*(?:โมง|ทุ่ม|ตี|เย็น|เช้า)|(?:ตี|ทุ่ม|บ่าย|โมง)\\\\s*(?:หนึ่ง|สอง|สาม|สี่|ห้า|หก|เจ็ด|แปด|เก้า|สิบ|[0-9]{1,2})|[0-9]{1,2}[:.][0-9]{1,2})\";\n    const rangeRegex = new RegExp(`(${timeUnit})\\\\s*(?:ถึง|จนถึง|-)\\\\s*(${timeUnit})`, \"i\");\n    const singleTimeRegex = new RegExp(timeUnit, \"i\");\n\n    const hasRange = text.match(rangeRegex);\n    const hasTime = text.match(singleTimeRegex);\n\n    if (hasRange) {\n        extractedData[\"เวลาเริ่ม\"] = parseTime(hasRange[1]);\n        extractedData[\"เวลาสิ้นสุด\"] = parseTime(hasRange[2]);\n    } else if (hasTime) {\n        extractedData[\"เวลาเริ่ม\"] = parseTime(hasTime[0]);\n    }\n    if (hasDate) extractedData[\"วันที่\"] = hasDate[0];\n\n    // 3. ทำความสะอาดชื่อกิจกรรม\n    let subject = text;\n    // ลบส่วนที่เป็น วันที่ และ เวลา ออกก่อน\n    if (hasDate) subject = subject.replace(hasDate[0], \"\");\n    if (hasRange) subject = subject.replace(hasRange[0], \"\");\n    else if (hasTime) subject = subject.replace(hasTime[0], \"\");\n\n    // ลบคำกริยาช่วยและคำเชื่อม\n    const cleanRegex = /(จด|บันทึก|นัด|เตือนว่า|เตือน|บอกว่า|ช่วย|ให้หน่อย|ตอน|ช่วง|ว่า|มีนัด|มีประชุม|ต้องไป|ไป|ที่)/g;\n    subject = subject.replace(cleanRegex, \"\").replace(/\\s+/g, ' ').trim();\n    \n    extractedData[\"ชื่อกิจกรรม\"] = subject || \"ธุระของคุณ \" + displayName;\n    \n    // ตรวจสอบความสมบูรณ์เพื่อส่งต่อให้ AI สรุปสวยๆ\n    if (extractedData[\"เวลาเริ่ม\"] && (hasDate || text.includes(\"วันนี้\"))) {\n        const timeInfo = extractedData[\"เวลาสิ้นสุด\"] ? `${extractedData[\"เวลาเริ่ม\"]} - ${extractedData[\"เวลาสิ้นสุด\"]}` : extractedData[\"เวลาเริ่ม\"];\n        replyMessage = `รับทราบค่ะ! อลิซจดนัด \"${extractedData[\"ชื่อกิจกรรม\"]}\" \\n📅 วันที่: ${extractedData[\"วันที่\"] || 'วันนี้'}\\n⏰ เวลา: ${timeInfo} เรียบร้อยแล้วค่ะ ✨`;\n        isHandled = false; // ส่งไปให้ AI Agent สรุปตาม System Prompt ที่เราตั้งไว้\n    }\n}\n\nreturn { isHandled, replyMessage, extractedData, debugText: text, messageType };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        224
      ],
      "id": "a1c34d28-8f60-4a24-82b3-bdcc5d2e7817",
      "name": "Scan Input"
    },
    {
      "parameters": {
        "jsCode": "// 1. ดึงข้อมูลจากทั้ง 2 แหล่ง (Scan Input และ AI Agent)\nconst jsData = $(\"Scan Input\").first().json.extractedData;\nconst aiOutput = $(\"AI Agent\").first().json.output || \"\";\n\n// ฟังก์ชันช่วยสกัดข้อมูลจากข้อความที่ AI ตอบกลับ (ในกรณีที่ AI ช่วยเติมข้อมูลให้)\nfunction extractFromAI(text) {\n    const summaryMatch = text.match(/📌 ชื่อกิจกรรม:\\s*([^\\n]+)/);\n    const dateMatch = text.match(/📅 วันที่:\\s*([^\\n]+)/);\n    const startMatch = text.match(/⏰ เวลาเริ่ม:\\s*([^\\n]+)/);\n    const endMatch = text.match(/⏰ เวลาสิ้นสุด:\\s*([^\\n]+)/);\n    \n    return {\n        \"ชื่อกิจกรรม\": summaryMatch ? summaryMatch[1].trim() : \"\",\n        \"วันที่\": dateMatch ? dateMatch[1].trim() : \"\",\n        \"เวลาเริ่ม\": startMatch ? startMatch[1].trim() : \"\",\n        \"เวลาสิ้นสุด\": endMatch ? endMatch[1].trim() : \"\"\n    };\n}\n\nconst aiData = extractFromAI(aiOutput);\n\n// เลือกใช้ข้อมูล: ถ้า AI มีข้อมูลให้ใช้ AI ถ้าไม่มีให้ใช้จากโหนด Scan Input\nconst extracted = {\n    \"ชื่อกิจกรรม\": aiData[\"ชื่อกิจกรรม\"] || jsData[\"ชื่อกิจกรรม\"] || \"ไม่มีชื่อกิจกรรม\",\n    \"วันที่\": aiData[\"วันที่\"] || jsData[\"วันที่\"] || \"วันนี้\",\n    \"เวลาเริ่ม\": aiData[\"เวลาเริ่ม\"] || jsData[\"เวลาเริ่ม\"] || \"00:00\",\n    \"เวลาสิ้นสุด\": aiData[\"เวลาสิ้นสุด\"] || jsData[\"เวลาสิ้นสุด\"] || \"\"\n};\n\n// 2. ฟังก์ชันแปลงวันที่ภาษาไทย (วันนี้, พรุ่งนี้, มะรืน หรือ วว/ดด/ปป)\nfunction convertThaiDate(dateStr) {\n    const now = new Date();\n    let targetDate = new Date(now);\n\n    if (dateStr.includes('พรุ่งนี้')) {\n        targetDate.setDate(now.getDate() + 1);\n    } else if (dateStr.includes('มะรืน')) {\n        targetDate.setDate(now.getDate() + 2);\n    } else if (!dateStr || dateStr.includes('วันนี้')) {\n        // วันนี้ (ไม่ต้องเปลี่ยน)\n    } else {\n        const parts = dateStr.match(/(\\d+)[/\\\\-](\\d+)[/\\\\-](\\d+)/);\n        if (parts) {\n            const day = parseInt(parts[1]);\n            const month = parseInt(parts[2]) - 1;\n            let year = parseInt(parts[3]);\n            if (year > 2500) year -= 543; // แปลง พ.ศ. เป็น ค.ศ.\n            targetDate = new Date(year, month, day);\n        }\n    }\n    return targetDate;\n}\n\n// 3. ฟังก์ชันรวมวันที่กับเวลา (HH:mm)\nfunction combineDateTime(dateObj, timeStr) {\n    const [hour, minute] = timeStr.split(':').map(Number);\n    const dt = new Date(dateObj);\n    dt.setHours(hour || 0, minute || 0, 0, 0);\n    return dt;\n}\n\n// 🌟 4. เพิ่มการระบุ Timezone +07:00 สำหรับประเทศไทย\nfunction toLocalISOString(date) {\n    const pad = (num) => (num < 10 ? '0' : '') + num;\n    \n    // สร้าง String ในรูปแบบ YYYY-MM-DDTHH:mm:ss\n    const isoStr = date.getFullYear() +\n        '-' + pad(date.getMonth() + 1) +\n        '-' + pad(date.getDate()) +\n        'T' + pad(date.getHours()) +\n        ':' + pad(date.getMinutes()) +\n        ':' + pad(date.getSeconds());\n        \n    // ระบุ Offset ของประเทศไทย (+07:00) ต่อท้ายเสมอ\n    return isoStr + \"+07:00\";\n}\n\n// --- เริ่มประมวลผล ---\nconst eventDate = convertThaiDate(extracted[\"วันที่\"]);\nconst startDateTime = combineDateTime(eventDate, extracted[\"เวลาเริ่ม\"]);\n\nlet endDateTime;\nif (extracted[\"เวลาสิ้นสุด\"] && extracted[\"เวลาสิ้นสุด\"] !== \"\") {\n    endDateTime = combineDateTime(eventDate, extracted[\"เวลาสิ้นสุด\"]);\n} else {\n    // ถ้าไม่มีเวลาสิ้นสุด ให้ตั้งเป็น 1 ชั่วโมงหลังจากเวลาเริ่ม\n    endDateTime = new Date(startDateTime.getTime() + 60 * 60 * 1000);\n}\n\n// ป้องกันกรณีเวลาจบ น้อยกว่าเวลาเริ่ม\nif (endDateTime <= startDateTime) {\n    endDateTime = new Date(startDateTime.getTime() + 60 * 60 * 1000);\n}\n\nreturn {\n    summary: extracted[\"ชื่อกิจกรรม\"],\n    startISO: toLocalISOString(startDateTime),\n    endISO: toLocalISOString(endDateTime)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        224
      ],
      "id": "99616610-ff20-4640-ab56-66fc96c2c4ac",
      "name": "Convert Time"
    },
    {
      "parameters": {
        "replyToken": "={{ $('Webhook').item.json.body.events[0].replyToken }}",
        "messages": {
          "values": [
            {
              "quoteToken": "={{ $('Webhook').item.json.body.events[0].message.quoteToken }}",
              "text": "={{ $json.replyMessage }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        688,
        80
      ],
      "id": "8229e893-65e1-47a0-9003-164941d93566",
      "name": "Normal Chat",
      "credentials": {
        "lineMessagingApi": {
          "id": "MhyzfOgAkpg2P4dJ",
          "name": "Line Messaging account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Line Messaging1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Convert Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Line Messaging1": {
      "main": [
        [
          {
            "node": "Scan Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Normal Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Input": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Time": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e609adf3-45d6-474b-8c00-926a7d57999b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "016e01b478aa3bfc84e6d9bbb99a07268a3eb32882f70a43d13cc1fc95af3e60"
  },
  "id": "3xcuVvmeA16ewIJv",
  "tags": [
    {
      "updatedAt": "2026-03-26T10:09:54.818Z",
      "createdAt": "2026-03-26T10:09:54.818Z",
      "id": "jMNjXnjqADw8Rn2P",
      "name": "SPU"
    }
  ]
}